{% load crispy_forms_tags %}
<div class="col-xs-12">
  <h2>Options:</h2>
  {% if object.phase != object.PHASES.setup %}
    <p>You are a {{ player.get_role_txt }}</p>
  {% endif %}

    <form class="form-horizontal" method="post" action="{% url 'games:player-ready' player.pk %}">
        {% csrf_token %}
        {{ player_ready_form|crispy }}
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn">Save</button>
          </div>
        </div>
    </form>

</div>