{% extends "base.html" %}
{% load static %}{% load i18n %}
{% block title %}Members{% endblock %}

{% block content %}

<div class="container">

    <h2>My Game Rooms</h2>

    <div class="list-group">
        {% for gameroom in gameroom_list %}
          <a href="{% url 'games:detail' gameroom.pk %}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ gameroom.get_phase_txt }} </h4>
          </a>
        {% endfor %}
        <a href="{% url 'games:create' %}" class="btn btn-primary">
            <h4 class="list-group-item-heading"> + New Gamer Room </h4>
        </a>

    </div>

{% endblock content %}
