{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}GameRoom: {{ object.pk }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-9">

      <h2>Phase: {{ object.get_phase_txt }}</h2>
    </div>
    <div class="col-sm-3">
      {% if object.phase == object.PHASES.setup %}
        <h4>Share Game Room: </h4>
        <span class="input-xlarge uneditable-input"><a href='{{ object.get_add_player_url }}'> Enter Game Link</a></span>
      {% else %}
        <h4>Game is ready to begin</h4>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">

      <h2>Players</h2>
        <ol>
        {% for p in object.player_set.all %}
            <li>{{ p.user.username }} | {{ p.is_ready }}{% if player.role == player.ROLES.spy %} | {{ p.get_role_txt }}{% endif %}{% if p.is_leader %} | LEADER {% endif %}</li>

        {% endfor %}
        </ol>

    </div>
    <div class="col-md-9">
      <h2>Missions:</h2>
        <ol>
          {% for mission in object.mission_set.all %}
            <li>{{ mission.is_active }} | Players: {{ mission.amount_players }} | Outcome: {{ mission.get_outcome_txt }} | Assigned: {% for assigned in mission.assigned_players.all %} {{ assigned.username }} {% endfor %}</li>

          {% endfor %}
        </ol>
    </div>

    <div class="row">
        {% include "games/_player_options_form.html" %}
    </div>



</div>
{% endblock content %}

